USE [master]
GO
/****** Object:  Database [Logistic]    Script Date: 21.02.2025 18:38:01 ******/
CREATE DATABASE [Logistic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Logistic', FILENAME = N'D:\DB\projects\homework3\Logistic.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Logistic_log', FILENAME = N'D:\DB\projects\homework3\Logistic_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Logistic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Logistic]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 21.02.2025 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[category_id] [int] NULL,
	[price] [money] NULL,
	[quantity] [int] NULL,
	[producer_id] [int] NULL,
	[measurement_id] [int] NULL,
	[discount_id] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Delivery]    Script Date: 21.02.2025 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delivery](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[supplier_id] [int] NULL,
	[price] [money] NULL,
	[quantity] [int] NULL,
	[date_of_delivery] [date] NULL,
 CONSTRAINT [PK_Delivery] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Delivery]    Script Date: 21.02.2025 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--USE Logistic;

/*

Файл
Д3.txt
Изменить
Просмотр
+
SUBQUERIES (в решении обязательно использовать минимум один подзапрос!):


CREATE TABLE:
1. написать запросы на создание шести таблиц БД Издательства (картинка прилагается тут)
=======
=======
VIEWS (факультативно):
1. Показать все продажи, где есть продукты из отдела "Молочка".
2. Показать все продукты из категории "Мясо", у которых количество на складе меньше 50 единиц.
3. Показать наиболее продаваемые товары из отдела "Канцтовары" за последние 3 месяца.
4. Показать статистику продаж по всем продуктам "Молочка" и "Мясо" в разрезе каждого месяца за последний год.
5. Показать товары из отдела "Канцтовары", которые так и не были ни разу проданы за последние 90 дней.
*/

--1. Показать самый популярный товар магазина (больше всего раз продавался)
/*

SELECT p.id, p.name, COUNT(1)
FROM Product p JOIN Delivery d ON d.product_id = p.id
GROUP BY p.id, p.name
HAVING COUNT(1) >= (SELECT MAX(SaleCount)  FROM 
							(SELECT COUNT(1) as SaleCount FROM Delivery GROUP BY Delivery.product_id) 
							AS subJuery)
ORDER BY 1
*/

--2. Если общее количество товаров всех категорий принять за 100%, необходимо посчитать, сколько товаров каждой категории (в процентном отношении) было продано
-----вариант № 1----------
/*
SELECT  p.category_id, c.name, COUNT(1) AS 'Количество товаров в категории', 
FORMAT(  COUNT(1) * 100.0 / (SELECT COUNT(1) FROM Product),'N2'   )  AS '% продаж относительно общего количества товаров'  --ROUND(COUNT(1) * 100.0 / (SELECT COUNT(1),2) FROM Product)  AS '%% продаж относительно общего количества товаров' 
FROM Product p JOIN Category c ON c.id = p.category_id
JOIN Delivery d ON d.product_id = p.id
GROUP BY p.category_id, c.name;

------ВАРИАНТ 2 с использованием COMMON TABLE EXPRESSION---------
WITH TotalProducts AS (
    SELECT COUNT(1) AS TotalCount FROM Product)

SELECT  
    p.category_id, 
    c.name, 
    COUNT(1) AS 'Количество товаров в категории',
    FORMAT(COUNT(1) * 100.0 / (SELECT TotalCount FROM TotalProducts), 'N2') AS 'Процент от общего числа товаров'
FROM Product p
JOIN Category c ON c.id = p.category_id
JOIN Delivery d ON d.product_id = p.id
GROUP BY p.category_id, c.name;


-------ВАРИАНТ № 3 с использованием переменной, в которую выбирается количество всех продуктов---------------
DECLARE @TotalCount INT;
SELECT @TotalCount = COUNT(1) FROM Product;

SELECT  c.id, C.name, COUNT(1) AS 'Количество товаров в категории', FORMAT(COUNT(1) * 100.0 / @TotalCount, 'N2') AS 'Процент от общего числа товаров'
FROM Product p JOIN Category c ON c.id = p.category_id
JOIN Delivery d ON d.product_id = p.id
GROUP BY c.id, C.name
*/

--3. Показать названия поставщиков, которые не поставляли йогурт
/*
SELECT s.id, s.name 
FROM Supplier s
WHERE s.id NOT IN (	SELECT s.id
					FROM Product p JOIN Delivery d ON d.product_id = p.id
					JOIN Supplier s ON s.id = d.supplier_id
					WHERE p.name LIKE '%Йогурт%');

---или вот так, методом исключения первого попадения в условие---
SELECT s.id, s.name 
FROM Supplier s
WHERE NOT EXISTS (	SELECT 1
					FROM Product p JOIN Delivery d ON d.product_id = p.id
					WHERE d.supplier_id = s.id and p.name LIKE '%Йогурт%');
*/


--4*. Показать на экран список производителей, которые живут в той же стране, что и фирма 000 "Зеленоглазое такси"
------------------------1-----------------------------
/*
SELECT p.id, p.name,  pcnt.id, pcnt.name 
FROM Producer p JOIN Address pa ON p.address_id = pa.id
JOIN City pc ON pa.city_id = pc.id
JOIN Region prgn ON prgn.id = pc.region_id
JOIN Country pcnt ON prgn.country_id = pcnt.id
GROUP BY p.id, p.name,  pcnt.id , pcnt.name 
HAVING pcnt.id =  (SELECT cnt.id
				FROM Organisation org JOIN Address a ON org.address_id = a.id
				JOIN City c ON a.city_id = c.id
				JOIN Region rgn ON rgn.id = c.region_id
				JOIN Country cnt ON rgn.country_id = cnt.id
				WHERE org.name LIKE '%Зеленоглазое такси%'
				);

------------------2-----------------------
DECLARE @CountryID INT;
SELECT @CountryID =  cnt.id
				FROM Organisation org JOIN Address a ON org.address_id = a.id
				JOIN City c ON a.city_id = c.id
				JOIN Region rgn ON rgn.id = c.region_id
				JOIN Country cnt ON rgn.country_id = cnt.id
				WHERE org.name LIKE '%Зеленоглазое такси%';

SELECT p.id, p.name,  pcnt.id, pcnt.name 
FROM Producer p JOIN Address pa ON p.address_id = pa.id
JOIN City pc ON pa.city_id = pc.id
JOIN Region prgn ON prgn.id = pc.region_id
JOIN Country pcnt ON prgn.country_id = pcnt.id
WHERE pcnt.id =  @CountryID;
*/

-- 5. Показать всех производителей, количество наименований товаров которых в магазине больше, чем количество наименований всех товаров фирмы ООО «Крустикс»
/*
SELECT pr.id, pr.name AS 'ПРОИЗВОДИТЕЛЬ', COUNT(1) AS 'КОЛИЧЕСТВО ТОВАРОВ В МАГАЗИНЕ'
FROM Product p JOIN Producer pr ON p.producer_id = pr.id
GROUP BY pr.id, pr.name
HAVING COUNT(1) > (SELECT COUNT(1) FROM Product p1 JOIN Producer pr1 ON p1.producer_id = pr1.id WHERE pr1.id = 49) --Крустикс
ORDER BY 1

---------------------2----------------------
DECLARE @CountGoods INT;
SELECT @CountGoods = COUNT(1) FROM Product p1 JOIN Producer pr1 ON p1.producer_id = pr1.id WHERE pr1.id = 49;

SELECT pr.id, pr.name AS 'ПРОИЗВОДИТЕЛЬ', COUNT(1) AS 'КОЛИЧЕСТВО ТОВАРОВ В МАГАЗИНЕ'
FROM Product p JOIN Producer pr ON p.producer_id = pr.id
GROUP BY pr.id, pr.name
HAVING COUNT(1) > @CountGoods --Крустикс
ORDER BY 1*/

--6. Показать общее количество продаж по каждому дню, начиная от 15.11.2024, и по сей день. Отсортировать по убыванию даты 
/*
SELECT s.date_of_sale AS 'ДАТА', COUNT(1) AS 'КОЛИЧЕСТВО ПРОДАЖ', SUM(p.price) AS 'СУММА ПРОДАЖ (грн.)'
FROM Sale s JOIN Product p ON s.product_id = p.id
WHERE s.date_of_sale BETWEEN CAST('2025-02-01' AS DATE) AND CAST(GETDATE() AS DATE) 
GROUP BY s.date_of_sale
ORDER BY 1 DESC;

----------------------------------------------------

SELECT SalesData.date_of_sale AS 'ДАТА', COUNT(1) AS 'КОЛИЧЕСТВО ПРОДАЖ', SUM(SalesData.price) AS 'СУММА ПРОДАЖ (грн.)'
FROM (SELECT s.date_of_sale, p.price
     FROM Sale s JOIN Product p ON s.product_id = p.id
     WHERE s.date_of_sale BETWEEN CAST('2025-02-01' AS DATE) AND CAST(GETDATE() AS DATE)
    ) AS SalesData
GROUP BY
    SalesData.date_of_sale
ORDER BY
    SalesData.date_of_sale DESC;

*/


--7*. Вычислить количество товаров каждой категории, которые пора списать (их количество известно, и они не продавались вот уже три месяца) ( 4 и 7 можно не делать :) )

---------------подзапрос в from ------------------
/*
SELECT c.id ID, c.name КАТЕГОРИЯ, SUM(ProductStatus.ProductRest) as 'ТОВАРЫ ДЛЯ СПИСАНИЯ'

FROM (
	Select d.id AS deliveryid, p.id AS ProductId, p.name, p.category_id, d.quantity, d.quantity - SUM(s.quantity) as ProductRest, DATEDIFF(MONTH, d.date_of_delivery, GETDATE()) AS LifeStatus
	FROM Delivery d JOIN Product p ON d.product_id = p.id
	JOIN Sale s ON s.delivery_id = d.id
	GROUP BY d.id, p.id, p.category_id, p.name, d.quantity, d.date_of_delivery
	HAVING DATEDIFF(MONTH, d.date_of_delivery, GETDATE()) >= 3
	UNION ALL
	SELECT d.id AS deliveryid, p.id AS ProductId, p.name, p.category_id, d.quantity, d.quantity AS ProductRest,  DATEDIFF(MONTH, d.date_of_delivery, GETDATE()) AS LifeStatus
	FROM Delivery d JOIN Product p ON d.product_id = p.id
	WHERE NOT EXISTS (
						SELECT 1
						FROM Sale s WHERE s.delivery_id = d.id
						)
	) as ProductStatus
JOIN Category c ON c.id = ProductStatus.category_id
WHERE ProductStatus.ProductRest > 0
GROUP BY c.id, c.name

*/
------------------------ЗОНА ТЕСТИРОВАНИЯ И ОТЛАДКИ-----------------------------------
/*
SELECT c.id, c.name, SUM(d.quantity)
FROM Product p JOIN Delivery d ON p.id = d.product_id
JOIN Category c ON p.category_id = c.id
WHERE DATEDIFF( MONTH, CAST(d.date_of_delivery AS DATE), CAST( GETDATE() AS DATE ) ) >=3 
	AND NOT EXISTS 
	( SELECT 1  FROM Sale s	WHERE s.product_id = p.id
								AND DATEDIFF( MONTH, CAST(s.date_of_sale AS DATE), CAST( GETDATE() AS DATE )) < 3)
GROUP BY c.id, c.name
*/
/*
SELECT p.id, p.name, c.id, c.name, p.name, SUM(s.quantity) as 'ПРОДАНО'--, SUM(d.quantity)
FROM Product p JOIN Sale s ON p.id = s.product_id
JOIN Category c ON p.category_id = c.id
GROUP BY p.id,p.name, c.id, c.name
order by 1

Select d.id deliveryid, p.id as productid, p.name, COUNT(1) AS 'КОЛИЧЕСТВО ПРОДАЖ', d.quantity, d.quantity - SUM(s.quantity) as 'остаток товара', DATEDIFF(MONTH, d.date_of_delivery, GETDATE()) as 'товару > n месяцев'
FROM Delivery d JOIN Product p ON d.product_id = p.id
JOIN Sale s ON s.delivery_id = d.id
GROUP BY d.id, p.id, p.name, d.quantity, d.date_of_delivery, date_of_sale
HAVING DATEDIFF(MONTH, d.date_of_delivery, GETDATE()) >= 3*/
/*
SELECT d.id, d.product_id, DATEDIFF(MONTH, d.date_of_delivery, GETDATE()) as 'товару > n месяцев'
FROM Delivery d JOIN Sale s ON s.delivery_id = d.id 
GROUP BY d.id, d.product_id, d.date_of_delivery, date_of_sale
HAVING DATEDIFF(MONTH, d.date_of_delivery, GETDATE()) >= 3
*/
/*
	
 SELECT  p1.category_id, d1.quantity
FROM Product p1 JOIN Delivery d1 ON d1.product_id = p1.id
WHERE  d1.product_id = p1.id
GROUP BY p1.category_id, d1.quantity
*/
/*
SELECT name, price, category_id
FROM Product p1
WHERE price > (
    SELECT AVG(price)
    FROM Product p2
    WHERE p1.category_id = p2.category_id
);*/



CREATE VIEW [dbo].[vw_Delivery] AS
SELECT d.id as delivery_id, d.date_of_delivery as delivery_date, p.id as product_id, p.name as product_name, p.category_id as category_id
FROM Delivery d join Product p ON d.product_id = p.id


--select * from dbo.deliv;
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 21.02.2025 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[address_id] [int] NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[test_view]    Script Date: 21.02.2025 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[test_view]
AS
SELECT   id, name, address_id
FROM      dbo.Supplier
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 21.02.2025 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[delivery_id] [int] NULL,
	[quantity] [int] NULL,
	[date_of_sale] [date] NULL,
	[discount_id] [int] NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 21.02.2025 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[hw7_v_task1]    Script Date: 21.02.2025 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*1. Показать все продажи, где есть продукты из отдела "Молочка".*/
CREATE VIEW [dbo].[hw7_v_task1]
AS
SELECT   p.id AS 'ID PRODUCT', p.name AS 'ПРОДУКТ', p.category_id, p.price, p.quantity, p.producer_id, p.measurement_id, p.discount_id, s.id AS 'SALE ID', s.product_id, s.delivery_id, s.quantity AS 'КОЛИЧЕСТВО', 
                s.date_of_sale AS 'ДАТА ПРОДАЖИ', s.discount_id AS 'СКИДКА', c.name AS 'Категория'
FROM      dbo.Category AS c INNER JOIN
                dbo.Product AS p ON c.id = p.category_id INNER JOIN
                dbo.Sale AS s ON c.id = s.id
WHERE   (c.id = 1)
GO
/****** Object:  View [dbo].[hw7_v_task2]    Script Date: 21.02.2025 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hw7_v_task2]
AS
SELECT   c.id AS ID, c.name AS КАТЕГОРИЯ, SUM(ProductStatus.ProductRest) AS 'КОЛИЧЕСТВО'
FROM      (SELECT   d.id AS deliveryid, p.id AS ProductId, p.name, p.category_id, d.quantity, d.quantity - SUM(s.quantity) AS ProductRest
                 FROM      dbo.Delivery AS d INNER JOIN
                                 dbo.Product AS p ON d.product_id = p.id INNER JOIN
                                 dbo.Sale AS s ON s.delivery_id = d.id
                 GROUP BY d.id, p.id, p.category_id, p.name, d.quantity, d.date_of_delivery
                 UNION ALL
                 SELECT   d.id AS deliveryid, p.id AS ProductId, p.name, p.category_id, d.quantity, d.quantity AS ProductRest
                 FROM      dbo.Delivery AS d INNER JOIN
                                 dbo.Product AS p ON d.product_id = p.id
                 WHERE   (NOT EXISTS
                                     (SELECT   1 AS Expr1
                                      FROM      dbo.Sale AS s
                                      WHERE   (delivery_id = d.id)))) AS ProductStatus INNER JOIN
                dbo.Category AS c ON c.id = ProductStatus.category_id
WHERE   (c.id = 2)
GROUP BY c.id, c.name
HAVING   (SUM(ProductStatus.ProductRest) < 50)
GO
/****** Object:  View [dbo].[hw7_v_task3]    Script Date: 21.02.2025 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hw7_v_task3]
AS
SELECT   TOP (1) id, name, quantity
FROM      (SELECT   p.id, p.name, SUM(s.quantity) AS quantity
                 FROM      dbo.Sale AS s INNER JOIN
                                 dbo.Product AS p ON s.product_id = p.id INNER JOIN
                                 dbo.Category AS c ON p.category_id = c.id
                 WHERE   (c.id = 2)
                 GROUP BY p.id, p.name) AS subQ
ORDER BY quantity DESC
GO
/****** Object:  View [dbo].[hw7_v_task5]    Script Date: 21.02.2025 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hw7_v_task5]
AS
SELECT   d.id AS deliveryid, p.id AS ProductId, p.name, p.category_id, d.quantity, d.quantity AS ProductRest, CAST(DATEDIFF(DD, d.date_of_delivery, GETDATE()) AS varchar(100)) + ' дней' AS 'время нахождения на складе'
FROM      dbo.Delivery AS d INNER JOIN
                dbo.Product AS p ON d.product_id = p.id
WHERE   (p.category_id = 2) AND (NOT EXISTS
                    (SELECT   1 AS Expr1
                     FROM      dbo.Sale AS s
                     WHERE   (delivery_id = d.id))) AND (DATEDIFF(DD, d.date_of_delivery, GETDATE()) >= 90)
GO
/****** Object:  View [dbo].[hw7_v_task4]    Script Date: 21.02.2025 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hw7_v_task4]
AS
SELECT   TOP (100) PERCENT YEAR(s.date_of_sale) AS SaleYear, MONTH(s.date_of_sale) AS SaleMonth, c.name AS CategoryName, SUM(s.quantity) AS TotalQuantitySold, SUM(s.quantity * p.price) AS TotalSalesAmount, COUNT(s.id) 
                AS TotalTransactions
FROM      dbo.Sale AS s INNER JOIN
                dbo.Product AS p ON s.product_id = p.id INNER JOIN
                dbo.Category AS c ON p.category_id = c.id
WHERE   (p.category_id IN (1, 2)) AND (s.date_of_sale > DATEADD(YEAR, - 1, GETDATE()))
GROUP BY YEAR(s.date_of_sale), MONTH(s.date_of_sale), c.name
ORDER BY SaleYear DESC, SaleMonth DESC
GO
/****** Object:  Table [dbo].[Address]    Script Date: 21.02.2025 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[street] [nvarchar](100) NULL,
	[city_id] [int] NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 21.02.2025 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[region_id] [int] NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 21.02.2025 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 21.02.2025 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[percnt] [real] NULL,
 CONSTRAINT [PK_Discount] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Measurement]    Script Date: 21.02.2025 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Measurement](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[description] [nvarchar](200) NULL,
 CONSTRAINT [PK_Description] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organisation]    Script Date: 21.02.2025 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organisation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[address_id] [int] NOT NULL,
 CONSTRAINT [PK_Organisation] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producer]    Script Date: 21.02.2025 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[address_id] [int] NOT NULL,
 CONSTRAINT [PK_Producer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 21.02.2025 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[country_id] [int] NULL,
 CONSTRAINT [PK_Region] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([id], [street], [city_id]) VALUES (1, N'ул. Дерибасовская, 15', 3)
INSERT [dbo].[Address] ([id], [street], [city_id]) VALUES (2, N'пр. Шевченко, 9', 3)
INSERT [dbo].[Address] ([id], [street], [city_id]) VALUES (3, N'ул. Пушкинская, 42', 3)
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id], [name]) VALUES (1, N'Молочные продукты')
INSERT [dbo].[Category] ([id], [name]) VALUES (2, N'Мясо и мясные изделия')
INSERT [dbo].[Category] ([id], [name]) VALUES (3, N'Рыба и морепродукты')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([id], [name], [region_id]) VALUES (1, N'Киев', 10)
INSERT [dbo].[City] ([id], [name], [region_id]) VALUES (2, N'Харьков', 20)
INSERT [dbo].[City] ([id], [name], [region_id]) VALUES (3, N'Одесса', 15)
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([id], [name]) VALUES (1, N'Украина')
INSERT [dbo].[Country] ([id], [name]) VALUES (2, N'Австралия')
INSERT [dbo].[Country] ([id], [name]) VALUES (3, N'Австрия')
GO
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[Delivery] ON 

INSERT [dbo].[Delivery] ([id], [product_id], [supplier_id], [price], [quantity], [date_of_delivery]) VALUES (1, 82, 4, 100.0000, 15, CAST(N'2025-01-02' AS Date))
INSERT [dbo].[Delivery] ([id], [product_id], [supplier_id], [price], [quantity], [date_of_delivery]) VALUES (2, 188, 16, 85.0000, 20, CAST(N'2024-11-09' AS Date))
INSERT [dbo].[Delivery] ([id], [product_id], [supplier_id], [price], [quantity], [date_of_delivery]) VALUES (3, 6, 5, 300.0000, 10, CAST(N'2024-12-29' AS Date))
SET IDENTITY_INSERT [dbo].[Delivery] OFF
GO
SET IDENTITY_INSERT [dbo].[Discount] ON 

INSERT [dbo].[Discount] ([id], [name], [percnt]) VALUES (1, N'1%', 0.01)
INSERT [dbo].[Discount] ([id], [name], [percnt]) VALUES (2, N'2%', 0.02)
INSERT [dbo].[Discount] ([id], [name], [percnt]) VALUES (3, N'3%', 0.03)
SET IDENTITY_INSERT [dbo].[Discount] OFF
GO
SET IDENTITY_INSERT [dbo].[Measurement] ON 

INSERT [dbo].[Measurement] ([id], [name], [description]) VALUES (1, N'Килограмм(кг)', N'стандартная единица массы для тяжелых продуктов')
INSERT [dbo].[Measurement] ([id], [name], [description]) VALUES (2, N'Грамм(г)', N'единица массы для мелких и легких продуктов')
INSERT [dbo].[Measurement] ([id], [name], [description]) VALUES (3, N'Миллилитр(мл)', N'единица объема для жидких веществ в небольших количествах')
SET IDENTITY_INSERT [dbo].[Measurement] OFF
GO
SET IDENTITY_INSERT [dbo].[Organisation] ON 

INSERT [dbo].[Organisation] ([id], [name], [address_id]) VALUES (1, N'ООО ''Зеленоглазое такси''', 1)
SET IDENTITY_INSERT [dbo].[Organisation] OFF
GO
SET IDENTITY_INSERT [dbo].[Producer] ON 

INSERT [dbo].[Producer] ([id], [name], [address_id]) VALUES (1, N'Молочный край', 1)
INSERT [dbo].[Producer] ([id], [name], [address_id]) VALUES (2, N'Вершина вкуса', 2)
INSERT [dbo].[Producer] ([id], [name], [address_id]) VALUES (3, N'Молочная ферма', 3)
SET IDENTITY_INSERT [dbo].[Producer] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [name], [category_id], [price], [quantity], [producer_id], [measurement_id], [discount_id]) VALUES (1, N'Молоко селянське', 1, 57.0000, 30, 1, 4, 10)
INSERT [dbo].[Product] ([id], [name], [category_id], [price], [quantity], [producer_id], [measurement_id], [discount_id]) VALUES (2, N'Творог домашний', 1, 80.0000, 10, 2, 10, 35)
INSERT [dbo].[Product] ([id], [name], [category_id], [price], [quantity], [producer_id], [measurement_id], [discount_id]) VALUES (3, N'Сметана 2,5%', 1, 44.0000, 15, 3, 14, 35)
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Region] ON 

INSERT [dbo].[Region] ([id], [name], [country_id]) VALUES (1, N'Автономная Республика Крым', 1)
INSERT [dbo].[Region] ([id], [name], [country_id]) VALUES (2, N'Винницкая область', 1)
INSERT [dbo].[Region] ([id], [name], [country_id]) VALUES (3, N'Волынская область', 1)
SET IDENTITY_INSERT [dbo].[Region] OFF
GO
SET IDENTITY_INSERT [dbo].[Sale] ON 

INSERT [dbo].[Sale] ([id], [product_id], [delivery_id], [quantity], [date_of_sale], [discount_id]) VALUES (1, 6, 3, 5, CAST(N'2024-12-29' AS Date), 35)
INSERT [dbo].[Sale] ([id], [product_id], [delivery_id], [quantity], [date_of_sale], [discount_id]) VALUES (2, 7, 196568, 1, CAST(N'2025-02-17' AS Date), 35)
INSERT [dbo].[Sale] ([id], [product_id], [delivery_id], [quantity], [date_of_sale], [discount_id]) VALUES (3, 82, 1, 5, CAST(N'2025-01-12' AS Date), 35)
SET IDENTITY_INSERT [dbo].[Sale] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([id], [name], [address_id]) VALUES (1, N'Молочная Река', 1)
INSERT [dbo].[Supplier] ([id], [name], [address_id]) VALUES (2, N'ЭкоМолоко', 2)
INSERT [dbo].[Supplier] ([id], [name], [address_id]) VALUES (3, N'Лавка молока', 3)
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
ALTER TABLE [dbo].[Discount] ADD  CONSTRAINT [DF_Discount_percent]  DEFAULT ((0)) FOR [percnt]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_City] FOREIGN KEY([city_id])
REFERENCES [dbo].[City] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_City]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Region] FOREIGN KEY([region_id])
REFERENCES [dbo].[Region] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Region]
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD  CONSTRAINT [FK_Delivery_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Delivery] CHECK CONSTRAINT [FK_Delivery_Product]
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD  CONSTRAINT [FK_Delivery_Supplier] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[Supplier] ([id])
GO
ALTER TABLE [dbo].[Delivery] CHECK CONSTRAINT [FK_Delivery_Supplier]
GO
ALTER TABLE [dbo].[Organisation]  WITH CHECK ADD  CONSTRAINT [FK_Organisation_Address] FOREIGN KEY([address_id])
REFERENCES [dbo].[Address] ([id])
GO
ALTER TABLE [dbo].[Organisation] CHECK CONSTRAINT [FK_Organisation_Address]
GO
ALTER TABLE [dbo].[Producer]  WITH CHECK ADD  CONSTRAINT [FK_Producer_Address] FOREIGN KEY([address_id])
REFERENCES [dbo].[Address] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Producer] CHECK CONSTRAINT [FK_Producer_Address]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Discount] FOREIGN KEY([discount_id])
REFERENCES [dbo].[Discount] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Discount]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Measurement] FOREIGN KEY([measurement_id])
REFERENCES [dbo].[Measurement] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Measurement]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Producer] FOREIGN KEY([producer_id])
REFERENCES [dbo].[Producer] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Producer]
GO
ALTER TABLE [dbo].[Region]  WITH CHECK ADD  CONSTRAINT [FK_Region_Country] FOREIGN KEY([country_id])
REFERENCES [dbo].[Country] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Region] CHECK CONSTRAINT [FK_Region_Country]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Delivery] FOREIGN KEY([delivery_id])
REFERENCES [dbo].[Delivery] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_Delivery]
GO
ALTER TABLE [dbo].[Supplier]  WITH CHECK ADD  CONSTRAINT [FK_Supplier_Address] FOREIGN KEY([address_id])
REFERENCES [dbo].[Address] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Supplier] CHECK CONSTRAINT [FK_Supplier_Address]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[17] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "c"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 108
               Right = 212
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "p"
            Begin Extent = 
               Top = 6
               Left = 250
               Bottom = 146
               Right = 434
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "s"
            Begin Extent = 
               Top = 6
               Left = 472
               Bottom = 146
               Right = 646
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'hw7_v_task1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'hw7_v_task1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[7] 2[34] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ProductStatus"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 146
               Right = 228
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "c"
            Begin Extent = 
               Top = 6
               Left = 266
               Bottom = 108
               Right = 456
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'hw7_v_task2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'hw7_v_task2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "subQ"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 127
               Right = 212
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'hw7_v_task3'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'hw7_v_task3'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "s"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 146
               Right = 228
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "p"
            Begin Extent = 
               Top = 6
               Left = 266
               Bottom = 146
               Right = 466
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "c"
            Begin Extent = 
               Top = 6
               Left = 504
               Bottom = 108
               Right = 694
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'hw7_v_task4'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'hw7_v_task4'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "d"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 146
               Right = 220
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "p"
            Begin Extent = 
               Top = 6
               Left = 258
               Bottom = 146
               Right = 442
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'hw7_v_task5'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'hw7_v_task5'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Supplier"
            Begin Extent = 
               Top = 41
               Left = 544
               Bottom = 162
               Right = 718
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'test_view'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'test_view'
GO
USE [master]
GO
